.parent{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 20px;
  color : red;

}

.child{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  padding: inherit;
}

.grandchild{
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}